{% extends "base.html" %}

{% load staticfiles %}


{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'css/calculator.css' %}" >
  <script src="{% static 'js/calculator.js' %}"></script>
{% endblock %}

{% block content %}
<main role="main">
  
  <div class="my-3 col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-10 offset-sm-1">
    <div class="card">
      <h5 class="card-header"> Enter Loan Details</h5>
      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#TL">Term Loans</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#ODCC">OD / CC</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="TL" class="tab-pane  bg mb-0">
          <div class='bg p-3'>
            <form method = 'POST'>
              {% csrf_token %}
              <input hidden value="TL" name="typ">
                <div class="card mx-2 my-1 border-0">
                  <div class="card-header p-0" id="TLBasicHeader">
                    <h5 class="m-0">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#TLBasicBody"
                              aria-expanded="true" aria-controls="collapseOne" type="button">
                        Basic Loan Details
                      </button>
                    </h5>
                  </div>
                  <div id="TLBasicBody" class="collapse show" aria-labelledby="headingOne">
                    <div class="card-body">
                      <div class="form-group">
                        <label class="font-weight-bold" for="Appl">Application Number</label>
                        <input id="TLApplNo" type="text" required class="form-control" name="ApplNo">
                      </div>
                      <div class="row">
                        <div class="col-sm-8">
                          <div class="form-group">
                            <label class="font-weight-bold" for="RMname">RM's Name</label>
                            <input id="TLRMname" type="text" required class="form-control" name="RMName">
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label class="font-weight-bold" for="HRMS">HRMS No</label>
                            <input id="TLHRMS" type="text" required class="form-control" name="HRMS">
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="font-weight-bold" for="Product">Product</label>
                        <select class="custom-select" id="TLProduct" name="product" required>
                          <option hidden disabled selected value> -- select an option -- </option>
                          <option value="HL">Home Loan</option>
                          <option value="LAP">Loan Against Property</option>
                          <option value="CV">Commercial Vehicle Loan</option>
                          <option value="SME">SME Loans</option>
                          <option value="Tractor">Tractor Loan</option>
                          <option value="Corporate">Corporate</option>
                          <option value="AIB">Bulk AIB</option>
                        </select>
                      </div><!-- Product -->
                    </div>
                  </div>
                </div>
                <div class="card mx-2 my-1 border-0">
                  <div class="card-header p-0" id="TLFinancialHeader">
                    <h5 class="m-0">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#TLFinancialBody"
                              aria-expanded="true" aria-controls="collapseOne" type="button">
                        Financial Details
                      </button>
                    </h5>
                  </div>
                  <div id="TLFinancialBody" class="collapse" aria-labelledby="headingOne">
                    <div class="card-body">
                      <div class='row'>
                        <div id='magicdiv1'class='col-sm-7'>
                          <div class="form-group">
                            <label class="font-weight-bold" for="TLPrincipal">Loan Amount</label>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text">&#8377</span>
                              </div>
                              <input type="number" min="0" step="1000" class="form-control" id = "TLPrincipal" name="sanction_amt" required>
                            </div>
                          </div><!-- Principal-->
                        </div>
                        <div id="magicdiv2" class='col-sm-5'>
                          <div class="form-group">
                            <label class="font-weight-bold" for="TLROI">ROI</label>
                            <div class="input-group mb-3">
                              <input type="number" min="0" step="0.01" class="form-control" id = "TLROI" name="roi" required>
                              <div class="input-group-append">
                                <span class="input-group-text">%</span>
                              </div>
                            </div>
                          </div><!-- ROI-->
                        </div>
                        <div id="magicdiv3" class="col-sm-6">
                           <div class="form-group">
                             <label class="font-weight-bold" for="TLTenure">Tenure</label>
                             <div class="input-group mb-3">
                               <input type="number" min="0" class="form-control" id = "TLTenure" name="tenure" required>
                               <div class="input-group-append">
                                 <span class="input-group-text">months</span>
                               </div>
                             </div>
                           </div><!-- Tenure -->
                        </div>
                        <div id="magicdiv4"class="col-sm-6" >
                          <div class="form-group" id="RatingGroup">
                            <label class="font-weight-bold" for="Rating">Rating</label>
                            <select class="custom-select" id="Rating" name="rating" >
                              <option hidden disabled selected value> -- select -- </option>
                              <option value="AAA">AAA</option>
                              <option value="AA">AA</option>
                              <option value="A">A</option>
                              <option value="BBB">BBB</option>
                              <option value="BB">BB</option>
                              <option value="U">Unrated</option>
                              <option value="CM">Capital Market</option>
                              <option value="CRE">CRE</option>
                              <option value="CRE_RH">CRE-RH</option>
                              <option value="RRE">RRE</option>
                              <option value="RRP">RRP</option>
                            </select>
                          </div><!-- Rating-->
                          <div class="form-group" id="LTVGroup">
                        <label class="font-weight-bold" for="LTV">LTV</label>
                        <div class="input-group mb-3">
                          <input type="number" step="0.01" min="0" class="form-control" id = "LTV" name="ltv">
                          <div class="input-group-append">
                            <span class="input-group-text">%</span>
                          </div>
                        </div>
                      </div><!-- LTV-->
                        </div>
                      
                      </div>
                      
                    </div>
                  </div>
                </div>
                <div class="card mx-2 my-1 border-0">
                  <div class="card-header p-0" id="TLFeeIncomeHeader">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#TLFeeIncomeBody" aria-expanded="false" aria-controls="collapseTwo">
                        Fees and Incomes
                      </button>
                    </h5>
                  </div>
                  <div id="TLFeeIncomeBody" class="collapse" aria-labelledby="headingTwo">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label class="font-weight-bold" for="processing">Processing Fee</label>
                            <div class="input-group mb-3">
                              <input type="number" step=".01" min=0  required class="form-control" id = "processing" name="profee">
                              <div class="input-group-append">
                                <span class="input-group-text">%</span>
                              </div>
                            </div>
                          </div><!-- Processing Fee-->
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label class="font-weight-bold" for="connector">Sourcing Fee</label>
                            <div class="input-group mb-3">
                              <input type="number" value={{conpay}} step="0.01"  min="0" required class="form-control" id = "connector" name="conpay">
                              <div class="input-group-append">
                                <span class="input-group-text">%</span>
                              </div>
                            </div>
                          </div><!-- Connector Payout-->
                        </div>
                        <div class="col-sm-6  pr-0">
                          <div class="form-group">
                            <label class="font-weight-bold" for="insurance">Insurance Premium</label>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text">&#8377</span>
                              </div>
                              <input type="number" value={{insur}} required min="0" class="form-control" id = "insurance" name="insur">
                            </div>
                          </div><!-- Insurance-->
                        </div>
                        <div class="col-sm-6  ">
                          <div class="form-group">
                            <label class="font-weight-bold" for="other">Other Income</label>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text">&#8377</span>
                              </div>
                              <input type="number" required min="0" class="form-control" id = "other" name="other" value={{other}}>
                            </div>
                          </div><!-- Other income-->
                        </div>
                        <div class="m-2" id="recurr">
                          <fieldset class="toggle-check large verbal" tabindex="0">
                            <label>
                              <input name="recurr" type="checkbox" value=1>
                              <span data-on="Yes" data-off="No">
                                Is other income recurring?
                              </span>
                            </label>
                          </fieldset>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card mx-2 my-1 border-0">
                  <div class="card-header p-0" id="TLPLSheader">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#TLPSLBody"
                              aria-expanded="false" aria-controls="collapseThree">
                        PSL Status
                      </button>
                    </h5>
                  </div>
                  <div id="TLPSLBody" class="collapse" aria-labelledby="headingThree" >
                    <div class="card-body">
                      <h6 class="card-title">
                        Check all that are applicable
                      </h6>
                      <div class="m-2">
                        <fieldset class="toggle-check large verbal" tabindex="0">
                          <label>
                            <input name="psl" type="checkbox" value=1>
                            <span data-on="Yes" data-off="No">
                              Priority Sector Lending
                            </span>
                          </label>
                        </fieldset>
                      </div>
                      <div class="m-2">
                        <fieldset class="toggle-check large verbal" tabindex="0">
                        <label>
                          <input name="agri_psl" type="checkbox" value=1>
                          <span data-on="Yes" data-off="No">
                            Agri Priority Sector Lending
                          </span>
                        </label>
                      </fieldset>
                      </div>
                      <div class="m-2">
                        <fieldset class="toggle-check large verbal" tabindex="0">
                        <label>
                          <input name="rrp" type="checkbox" value=1>
                          <span data-on="Yes" data-off="No">
                            RRP
                          </span>
                        </label>
                      </fieldset>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card mx-2 my-1 border-0">
                  <input type="submit" value="Submit" class="btn btn-primary btn-block">
                </div>
            </form>
          </div>
        </div>
        <div id="ODCC" class="tab-pane bg mb-0" >
            <div class='bg p-3'>
            <form method = 'POST'>
              {% csrf_token %}
                <input hidden value="ODCC" name="typ">
                <div class="card mx-2 my-1 border-0">
                  <div class="card-header p-0" id="TLBasicHeader">
                    <h5 class="m-0">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#TLBasicBody"
                              aria-expanded="true" aria-controls="collapseOne" type="button">
                        Basic Loan Details
                      </button>
                    </h5>
                  </div>
                  <div id="TLBasicBody" class="collapse show" aria-labelledby="headingOne">
                    <div class="card-body">
                      <div class="form-group">
                        <label class="font-weight-bold" for="Appl">Application Number</label>
                        <input id="TLApplNo" type="text" required class="form-control" name="ApplNo">
                      </div>
                      <div class="row">
                        <div class="col-sm-8">
                          <div class="form-group">
                            <label class="font-weight-bold" for="RMname">RM's Name</label>
                            <input id="TLRMname" type="text" required class="form-control" name="RMName">
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label class="font-weight-bold" for="HRMS">HRMS No</label>
                            <input id="TLHRMS" type="text" required class="form-control" name="HRMS">
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="font-weight-bold" for="ODCCProduct">Product</label>
                        <select class="custom-select" id="ODCCProduct" name="product" required>
                          <option hidden disabled selected value> -- select an option -- </option>
                          <option value="HL">Home Loan</option>
                          <option value="LAP">Loan Against Property</option>
                          <option value="CV">Commercial Vehicle Loan</option>
                          <option value="SME">SME Loans</option>
                          <option value="Tractor">Tractor Loan</option>
                          <option value="Corporate">Corporate</option>
                          <option value="AIB">Bulk AIB</option>
                        </select>
                      </div><!-- Product -->
                    </div>
                  </div>
                </div>
                <div class="card mx-2 my-1 border-0">
                  <div class="card-header p-0" id="basic">
                    <h5 class="m-0">
                      <button class="btn btn-link" data-toggle="collapse"  type="button" data-target="#ODCCFinancialBody"
                              aria-expanded="true" aria-controls="collapseOne">
                        Financial Details
                      </button>
                    </h5>
                  </div>
                  <div id="ODCCFinancialBody" class="collapse" aria-labelledby="headingOne">
                    <div class="card-body">
                      <div class='row'>
                        <div id='magicdiv1ODCC'class='col-sm-7'>
                          <div class="form-group">
                            <label class="font-weight-bold" for="TLPrincipal">Loan Amount</label>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text">&#8377</span>
                              </div>
                              <input type="number" min="0000" step="1000" class="form-control" id = "TLPrincipal" name="sanction_amt" required>
                            </div>
                          </div><!-- Principal-->
                        </div>
                        <div id="magicdiv2ODCC" class='col-sm-5'>
                          <div class="form-group">
                            <label class="font-weight-bold" for="TLROI">ROI</label>
                            <div class="input-group mb-3">
                              <input type="number" min="0" step="0.01" class="form-control" id = "TLROI" name="roi" required>
                              <div class="input-group-append">
                                <span class="input-group-text">%</span>
                              </div>
                            </div>
                          </div><!-- ROI-->
                        </div>
                        <div id="magicdiv3ODCC" class="col-sm-6">
                         <div class="form-group">
                           <label class="font-weight-bold" for="utilisation">Utilisation</label>
                           <div class="input-group mb-3">
                             <input type="number" class="form-control" min="0" value="70" step=0.01 id = "utilisation" name="utlisation" required>
                             <div class="input-group-append">
                               <span class="input-group-text">%</span>
                             </div>
                           </div>
                         </div><!-- Utilisation -->
                        </div>
                        <div id="magicdiv4ODCC"class="col-sm-6" >
                          <div class="form-group" id="RatingGroupODCC">
                            <label class="font-weight-bold" for="Rating">Rating</label>
                            <select class="custom-select" id="Rating" name="rating" >
                              <option hidden disabled selected value> -- select -- </option>
                              <option value="AAA">AAA</option>
                              <option value="AA">AA</option>
                              <option value="A">A</option>
                              <option value="BBB">BBB</option>
                              <option value="BB">BB</option>
                              <option value="U">Unrated</option>
                              <option value="CM">Capital Market</option>
                              <option value="CRE">CRE</option>
                              <option value="CRE_RH">CRE-RH</option>
                              <option value="RRE">RRE</option>
                              <option value="RRP">RRP</option>
                            </select>
                          </div><!-- Rating-->
                          <div class="form-group" id="LTVGroupODCC">
                        <label class="font-weight-bold" for="LTV">LTV</label>
                        <div class="input-group mb-3">
                          <input type="number" step="0.01" min="0" class="form-control" id = "LTV" name="ltv">
                          <div class="input-group-append">
                            <span class="input-group-text">%</span>
                          </div>
                        </div>
                      </div><!-- LTV-->
                        </div>
                      </div>
                    </div>
                    
                    </div>
                  </div>
                <div class="card mx-2 my-1 border-0">
                  <div class="card-header p-0" id="ODCCFeeIncomeHeader">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#ODCCFeeIncomeBody" aria-expanded="false" aria-controls="collapseTwo">
                        Fees and Incomes
                      </button>
                    </h5>
                  </div>
                  <div id="ODCCFeeIncomeBody" class="collapse" aria-labelledby="headingTwo">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label class="font-weight-bold" for="processing">Processing Fee</label>
                            <div class="input-group mb-3">
                              <input type="number" step=".01" min="0" required class="form-control" id = "processing" name="profee">
                              <div class="input-group-append">
                                <span class="input-group-text">%</span>
                              </div>
                            </div>
                          </div><!-- Processing Fee-->
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label class="font-weight-bold" for="connector">Sourcing Fee</label>
                            <div class="input-group mb-3">
                              <input type="number" step="0.01" min="0" required class="form-control" id = "connector" name="conpay">
                              <div class="input-group-append">
                                <span class="input-group-text">%</span>
                              </div>
                            </div>
                          </div><!-- Connector Payout-->
                        </div>
                        <div class="col-sm-6  pr-0">
                          <div class="form-group">
                            <label class="font-weight-bold" for="insurance">Insurance Premium</label>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text">&#8377</span>
                              </div>
                              <input type="number" min="0" required class="form-control" id = "insurance" name="insur">
                            </div>
                          </div><!-- Insurance-->
                        </div>
                        <div class="col-sm-6  ">
                          <div class="form-group">
                            <label class="font-weight-bold" for="otherODCC">Other Income</label>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text">&#8377</span>
                              </div>
                              <input type="number" min="0" required class="form-control" id = "otherODCC" name="other" value=0>
                            </div>
                          </div><!-- Other income-->
                        </div>
                        <div class="m-2" id="recurrODCC">
                          <fieldset class="toggle-check large verbal" tabindex="0">
                            <label>
                              <input name="recurr" type="checkbox" value=1>
                              <span data-on="Yes" data-off="No">
                                Is other income recurring?
                              </span>
                            </label>
                          </fieldset>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card mx-2 my-1 border-0">
                  <div class="card-header p-0" id="ODCCPSLHeader">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#ODCCPSLBody"
                              aria-expanded="false" aria-controls="collapseThree">
                        PSL Status
                      </button>
                    </h5>
                  </div>
                  <div id="ODCCPSLBody" class="collapse" aria-labelledby="" >
                    <div class="card-body">
                      <h6 class="card-title">
                        Check all that are applicable
                      </h6>
                      <div class="m-2">
                        <fieldset class="toggle-check large verbal" tabindex="0">
                          <label>
                            <input name="psl" type="checkbox" value=1>
                            <span data-on="Yes" data-off="No">
                              Priority Sector Lending
                            </span>
                          </label>
                        </fieldset>
                      </div>
                      <div class="m-2">
                        <fieldset class="toggle-check large verbal" tabindex="0">
                        <label>
                          <input name="agri_psl" type="checkbox" value=1>
                          <span data-on="Yes" data-off="No">
                            Agri Priority Sector Lending
                          </span>
                        </label>
                      </fieldset>
                      </div>
                      <div class="m-2">
                        <fieldset class="toggle-check large verbal" tabindex="0">
                        <label>
                          <input name="rrp" type="checkbox" value=1>
                          <span data-on="Yes" data-off="No">
                            RRP
                          </span>
                        </label>
                      </fieldset>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card mx-2 my-1 border-0">
                  <input type="submit" value="Submit" class="btn btn-primary btn-block">
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<br><br><br>
{% endblock %}