{% extends "base.html" %}
 {% load crispy_forms_tags %}
{% load staticfiles %}


{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'css/calculator.css' %}" >
  <script src="{% static 'js/calculator.js' %}"></script>
{% endblock %}


{% block content %}
  <div class="row m-2">
    <div class="my-3 col-lg-4 col-md-6 col-sm-10 ">
     <div class="card">
      <h5 class="card-header"> Enter Loan Details</h5>
      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
          <a class="nav-link {% if typ == 'TL' %} active show {% endif %}" id = "TLLink" data-toggle="tab" href="#TL">Term Loans</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if typ == 'ODCC' %} active show {% endif %}"" id = "ODCCLink" data-toggle="tab" href="#ODCC">OD / CC</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="TL" class="tab-pane{% if typ == 'TL' %} active show {% endif %}"  bg mb-0">
          <div class='bg p-3'>
            {% crispy tlform %}
          </div>
        </div>
        <div id="ODCC" class="tab-pane {% if typ == 'ODCC' %} active show {% endif %}"bg mb-0" >
          <div class='bg p-3'>
            {% crispy odccform %}
          </div>
        </div>
      </div>
    </div>
    </div> <!-- The Form Element--->
    <div class="my-3 col-lg-8">
      <div class="card">
        <h5 class="card-header">
          Profitability Chart
        </h5>
        <div class="card-body">
          <div class="container shadow"> </div>
          <h5 class="card-heading text-center shadow"> Lifetime ROE: <span class="font-weight-light">{{net_roe}}%</span></h5>
          <div class="table-responsive shadow">
  {{details|safe}}
  </div>
        </div>
      </div>
        <div class="my-5 d-flex justify-content-center">
    <form class="form form-inline" action="{% url 'print:print'%}" method="post">
      {% csrf_token %}
            <input hidden name="ApplNo" value="{{ApplNo}}">
            <input type="submit" value="Print Final Calculations" class="btn btn-danger">
    </form>
  </div>
    </div>   <!-- Output Table--->
  </div>

<br><br><br>
{% endblock %}