{% extends "base.html" %}
 {% load crispy_forms_tags %}
{% load staticfiles %}


{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'css/calculator.css' %}" >
  <script src="{% static 'js/calculator.js' %}"></script>
{% endblock %}


{% block content %}
<main role="main">
  <div class="row m-2">
    <div class="my-3 col-lg-4 col-md-6 col-sm-10 ">
     <div class="card">
      <h5 class="card-header"> Enter Loan Details</h5>
      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
          <a class="nav-link {% if typ == 'TL' %} active show {% endif %}" id = "TLLink" data-toggle="tab" href="#TL">Term Loans</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if typ == 'ODCC' %} active show {% endif %}"" id = "ODCCLink" data-toggle="tab" href="#ODCC">OD / CC</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="TL" class="tab-pane{% if typ == 'TL' %} active show {% endif %}"  bg mb-0">
          <div class='bg p-3'>
            <form method="post">
              {% csrf_token %}
              <input hidden value="TL" name="typ">
              <div class="card mx-2 shadow my-1 border-0">
                <div class="card-header p-0" id="TLBasicHeader">
                  <h5 class="m-0">
                    <button class="btn w-100 text-left btn-link" data-toggle="collapse" data-target="#TLBasicBody" type="button">
                      Basic Loan Details <i class="fa fa-lg fa-caret-up float-right" aria-hidden="true"></i>
                    </button>
                  </h5>
                </div>
                <div id="TLBasicBody" class="collapse show active" aria-labelledby="headingOne">
                  <div class="card-body">
                    {{tlform.ApplNo|as_crispy_field}}
                    <div class="row">
                      <div class="col-sm-8">
                        {{tlform.RMName|as_crispy_field}}
                      </div>
                      <div class="col-sm-4">
                        {{tlform.HRMS|as_crispy_field}}
                      </div>
                    </div>
                    {{tlform.product|as_crispy_field}}
                  </div>
                </div>
              </div>
              <div class="card mx-2 my-1 shadow border-0">
                <div class="card-header p-0" id="TLFinancialHeader">
                  <h5 class="m-0">
                    <button class="btn w-100 text-left btn-link collapsed" data-toggle="collapse" data-target="#TLFinancialBody" type="button">
                      Financial Details <i class="fa fa-lg fa-caret-down float-right" aria-hidden="true"></i>
                    </button>
                  </h5>
                </div>
                <div id="TLFinancialBody" class="collapse" aria-labelledby="headingOne">
                  <div class="card-body">
                    <div class='row'>
                      <div id='magicdiv1'class='col-sm-7'>
                        {{tlform.sanction_amt|as_crispy_field}}
                      </div>
                      <div id="magicdiv2" class='col-sm-5'>
                        {{tlform.roi|as_crispy_field}}
                      </div>
                      <div id="magicdiv3" class="col-sm-6">
                         {{tlform.tenure|as_crispy_field}}
                      </div>
                      <div id="magicdiv4"class="col-sm-6" >
                        {{tlform.rating|as_crispy_field}}
                        {{tlform.ltv|as_crispy_field}}
                      </div>
                    
                    </div>
                    
                  </div>
                </div>
              </div>
              <div class="card mx-2 my-1 shadow border-0">
                <div class="card-header p-0" id="TLFeeIncomeHeader">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-left collapsed" type="button" data-toggle="collapse" data-target="#TLFeeIncomeBody" aria-expanded="false" aria-controls="collapseTwo">
                      Fees and Incomes <i class="fa fa-lg fa-caret-down float-right" aria-hidden="true"></i>
                    </button>
                  </h5>
                </div>
                <div id="TLFeeIncomeBody" class="collapse" aria-labelledby="headingTwo">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-6">
                        {{tlform.profee|as_crispy_field}}<!-- Processing Fee-->
                      </div>
                      <div class="col-sm-6">
                        {{tlform.conpay|as_crispy_field}}<!-- Connector Payout-->
                      </div>
                      <div class="col-sm-6  pr-0">
                        {{tlform.insur|as_crispy_field}}<!-- Insurance-->
                      </div>
                      <div class="col-sm-6  ">
                        {{tlform.other|as_crispy_field}}<!-- Other income-->
                      </div>
                      <div class="m-2" id="TLrecurr">
                        <fieldset class="toggle-check large verbal" tabindex="0">
                          <label>
                            {{tlform.recurr}}
                            <span data-on="Yes" data-off="No">
                              {{tlform.recurr.label_tag}}
                            </span>
                          </label>
                        </fieldset>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mx-2 my-1 shadow border-0">
                <div class="card-header p-0" id="TLPLSheader">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-left collapsed" type="button" data-toggle="collapse" data-target="#TLPSLBody"
                            aria-expanded="false" aria-controls="collapseThree">
                      PSL Status <i class="fa fa-lg fa-caret-down float-right" aria-hidden="true"></i>
                    </button>
                  </h5>
                </div>
                <div id="TLPSLBody" class="collapse" aria-labelledby="headingThree" >
                  <div class="card-body">
                    <h6 class="card-title">
                      Check all that are applicable
                    </h6>
                    <div class="m-2" id="psl">
                      <fieldset class="toggle-check large verbal" tabindex="0">
                        <label>
                          {{tlform.psl}}
                          <span data-on="Yes" data-off="No">
                            {{tlform.psl.label_tag}}
                          </span>
                        </label>
                      </fieldset>
                    </div>
                    <div class="m-2" id="agri_psl">
                      <fieldset class="toggle-check large verbal" tabindex="0">
                        <label>
                          {{tlform.agri_psl}}
                          <span data-on="Yes" data-off="No">
                            {{tlform.agri_psl.label_tag}}
                          </span>
                        </label>
                      </fieldset>
                    </div>
                    <div class="m-2" id="rrp">
                      <fieldset class="toggle-check large verbal" tabindex="0">
                        <label>
                          {{tlform.rrp}}
                          <span data-on="Yes" data-off="No">
                            {{tlform.rrp.label_tag}}
                          </span>
                        </label>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mx-2 my-1 shadow border-0">
                <input type="submit" value="Submit" class="btn btn-primary btn-block">
              </div>
            </form>
          </div>
        </div>
        <div id="ODCC" class="tab-pane {% if typ == 'ODCC' %} active show {% endif %}"bg mb-0" >
          <div class='bg p-3'>
            <form method="post">
              {% csrf_token %}
              <input hidden value="ODCC" name="typ">
              <div class="card mx-2 shadow my-1 border-0">
                <div class="card-header p-0" id="ODCCBasicHeader">
                  <h5 class="m-0">
                    <button class="btn w-100 text-left btn-link" data-toggle="collapse" data-target="#ODCCBasicBody" type="button">
                      Basic Loan Details <i class="fa fa-lg fa-caret-up float-right" aria-hidden="true"></i>
                    </button>
                  </h5>
                </div>
                <div id="ODCCBasicBody" class="collapse show active" aria-labelledby="headingOne">
                  <div class="card-body">
                    {{odccform.ApplNo|as_crispy_field}}
                    <div class="row">
                      <div class="col-sm-8">
                        {{odccform.RMName|as_crispy_field}}
                      </div>
                      <div class="col-sm-4">
                        {{odccform.HRMS|as_crispy_field}}
                      </div>
                    </div>
                    {{odccform.product|as_crispy_field}}
                  </div>
                </div>
              </div>
              <div class="card mx-2 my-1 shadow border-0">
                <div class="card-header p-0" id="ODCCFinancialHeader">
                  <h5 class="m-0">
                    <button class="btn w-100 text-left btn-link collapsed" data-toggle="collapse" data-target="#ODCCFinancialBody" type="button">
                      Financial Details <i class="fa fa-lg fa-caret-down float-right" aria-hidden="true"></i>
                    </button>
                  </h5>
                </div>
                <div id="ODCCFinancialBody" class="collapse" aria-labelledby="headingOne">
                  <div class="card-body">
                    <div class='row'>
                      <div id='odccmagicdiv1'class='col-sm-7'>
                        {{odccform.sanction_amt|as_crispy_field}}
                      </div>
                      <div id="odccmagicdiv2" class='col-sm-5'>
                        {{odccform.roi|as_crispy_field}}
                      </div>
                      <div id="odccmagicdiv3" class="col-sm-6">
                         {{odccform.utilisation|as_crispy_field}}
                      </div>
                      <div id="odccmagicdiv4"class="col-sm-6" >
                        {{odccform.rating|as_crispy_field}}
                        {{odccform.ltv|as_crispy_field}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mx-2 my-1 shadow border-0">
                <div class="card-header p-0" id="ODCCFeeIncomeHeader">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-left collapsed" type="button" data-toggle="collapse" data-target="#ODCCFeeIncomeBody" aria-expanded="false" aria-controls="collapseTwo">
                      Fees and Incomes <i class="fa fa-lg fa-caret-down float-right" aria-hidden="true"></i>
                    </button>
                  </h5>
                </div>
                <div id="ODCCFeeIncomeBody" class="collapse" aria-labelledby="headingTwo">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-6">
                        {{odccform.profee|as_crispy_field}}<!-- Processing Fee-->
                      </div>
                      <div class="col-sm-6">
                        {{odccform.conpay|as_crispy_field}}<!-- Connector Payout-->
                      </div>
                      <div class="col-sm-6  pr-0">
                        {{odccform.insur|as_crispy_field}}<!-- Insurance-->
                      </div>
                      <div class="col-sm-6  ">
                        {{odccform.other|as_crispy_field}}<!-- Other income-->
                      </div>
                      <div class="m-2" id="ODCCrecurr">
                        <fieldset class="toggle-check large verbal" tabindex="0">
                          <label>
                            {{odccform.recurr}}
                            <span data-on="Yes" data-off="No">
                              {{odccform.recurr.label_tag}}
                            </span>
                          </label>
                        </fieldset>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mx-2 my-1 shadow border-0">
                <div class="card-header p-0" id="ODCCPLSheader">
                  <h5 class="mb-0">
                    <button class="btn btn-link w-100 text-left collapsed" type="button" data-toggle="collapse" data-target="#ODCCPSLBody"
                            aria-expanded="false" aria-controls="collapseThree">
                      PSL Status <i class="fa fa-lg fa-caret-down float-right" aria-hidden="true"></i>
                    </button>
                  </h5>
                </div>
                <div id="ODCCPSLBody" class="collapse" aria-labelledby="headingThree" >
                  <div class="card-body">
                    <h6 class="card-title">
                      Check all that are applicable
                    </h6>
                    <div class="m-2" id="odccpsl">
                      <fieldset class="toggle-check large verbal" tabindex="0">
                        <label>
                          {{odccform.psl}}
                          <span data-on="Yes" data-off="No">
                            {{odccform.psl.label_tag}}
                          </span>
                        </label>
                      </fieldset>
                    </div>
                    <div class="m-2" id="odccagri_psl">
                      <fieldset class="toggle-check large verbal" tabindex="0">
                        <label>
                          {{odccform.agri_psl}}
                          <span data-on="Yes" data-off="No">
                            {{odccform.agri_psl.label_tag}}
                          </span>
                        </label>
                      </fieldset>
                    </div>
                    <div class="m-2" id="odccrrp">
                      <fieldset class="toggle-check large verbal" tabindex="0">
                        <label>
                          {{odccform.rrp}}
                          <span data-on="Yes" data-off="No">
                            {{odccform.rrp.label_tag}}
                          </span>
                        </label>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>
              <div class=" mx-2 my-1 shadow border-0">
                <input type="submit" value="Submit" class="btn btn-primary btn-block">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div> <!-- The Form Element--->
    <div class="my-3 col-lg-8">
      <div class="card">
        <h5 class="card-header">
          Profitability Chart
        </h5>
        <div class="card-body">
          <div class="container shadow"> </div>
          <h5 class="card-heading text-center shadow"> Lifetime ROE: <span class="font-weight-light">{{net_roe}}%</span></h5>
          <div class="table-responsive shadow">
  {{details|safe}}
  </div>
        </div>
      </div>
        <div class="my-5 d-flex justify-content-center">
    <form class="form form-inline" action="{% url 'print:print'%}" method="post">
      {% csrf_token %}
            <input hidden name="ApplNo" value="{{ApplNo}}">
            <input type="submit" value="Print Final Calculations" class="btn btn-danger">
    </form>
  </div>
    </div>   <!-- Output Table--->
  </div>

</main>

<br><br><br>
{% endblock %}