{% extends "base.html" %}

{% load staticfiles %}

{% block stylesheets %} <link rel="stylesheet" href="{% static 'css/home.css' %}" > {% endblock %}

{% block content %}
  <main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Profitability Calculator</h1><br>
        <p class="lead text-muted">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse orci ex, dignissim vel nibh at, euismod euismod tortor. Phasellus commodo non
          justo sit amet facilisis. In a arcu luctus, dapibus nunc id, dapibus nunc. Nulla at dolor erat. Ut ultricies risus pretium suscipit fermentum. Duis
          magna arcu, porttitor id molestie ut, auctor pulvinar velit. Quisque suscipit nibh eget massa commodo maximus.
        </p>
        <p>
          <a href="{% url 'calculator:calculator' %}" class="btn btn-primary my-2 mr-2">Go to Calculator</a>
          <a href="{% url 'backend:home' %}" class="btn btn-secondary my-2 ml-2">Access Admin Portal</a>
        </p>
      </div>
    </section>
    <hr>
  </main>
{% endblock %}S