
{% extends "base.html" %}
 {% load crispy_forms_tags %}
{% load staticfiles %}

{% block title%} Print | Profitability Calculator {% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'css/print.css' %}" >
  <script src="{% static 'js/print.js' %}"></script>
{% endblock %}


{% block content %}
  <div class="row m-2">
    <div class="m-3">
      <div class="card">
        <h5 class="card-header"> Loan Details</h5>
        <div class='bg p-3'>
          {% crispy form %}
        </div>
      </div>
    </div><!-- The Form Element--->
    <div class="my-3 col-lg-8">
      <div class="card">
        <h5 class="card-header">
          Profitability Chart
        </h5>
        <div class="card-body">
          <div class="container shadow"> </div>
          <h5 class="card-heading text-center shadow"> Lifetime ROE: <span class="font-weight-light">{{net_roe}}%</span></h5>
          <div class="table-responsive shadow">
  {{details|safe}}
  </div>
        </div>
      </div>
    </div>   <!-- Output Table--->
  </div>

<br><br><br>
{% endblock %}